body {
	margin: 0;
	background-color: #dfefff;

	#root {
		position: absolute;
	}

	.main-section {
	    display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		min-height: 100vh;
		min-width: 100vw;
		align-items: flex-start;
		
		.side-menu {
			vertical-align: top;
			display: inline-block;
			padding: 20px;
			.customization-panels{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		.panel { 
			vertical-align: top;
			display: inline-block;
			padding: 20px;
			margin: 20px;
		}
	}
}