body {
	margin: 0;
	background-color: #dfefff;
	.main-section {
	    display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		min-height: 100vh;
		min-width: 100vw;
		align-items: flex-start;
		.customization-panels{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.panel { 
			vertical-align: top;
			display: inline-block;
			padding: 20px;
			margin: 20px;
		}
	}
}