.settings-panel {
	
	.form-control {
		width:300px;
		& > * {
			margin-top: 10px !important;
		}
		.settings-buttons{
			display: flex;
			justify-content: space-around;
			padding-top: 10px;
		}
	}
}